@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

input[type="text"], input[type="password"], input[type="email"] {
    @apply w-full border my-2 py-2 px-3 rounded-2xl;
}

button {
    @apply bg-gray-300
}

button.primary {
    @apply bg-primary py-3 rounded-2xl text-white p-2
}